body{
    background-image: url("../imgs/b.jpg");
    background-color: #020202;
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    background-color: rgba(234, 237, 247, 0.5);
    border: 0px solid rgba(224, 229, 247, 0.1);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
    /*opacity: 0.3;
    filter: alpha(opacity=30)*/;
    
}
.main p.content{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: rgba(26, 24, 24,1);
}
header{
    text-align: center;
}
header img {
    height: 350px;
    width: 400px;
}


@media screen and (max-width: 600px){
    header img {
        height: 250px;
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    body{
        position: relative;
        background-image: url("../imgs/b.jpg");
        background-repeat:no-repeat;
        background-size:100% 100vh;
    }
}