body{
    background-image: url("../imgs/b.jpg");
    background-color: #020202;
    background-size: cover;
    background-repeat: no-repeat;
}
textarea.form-control{
    text-align: right;
    height: 150px;
}
footer p {
    text-align: center;
    color: rgb(214, 214, 231);
}
footer p a:hover{
    text-decoration: none;
}
.main{
    background-color: rgba(234, 237, 247, 0.5);
    border: 0px solid rgba(224, 229, 247, 0.1);
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: right;
    
}
.formZone{
    background-color: rgba(234, 237, 247, 0.8);
    border: 0px solid rgba(224, 229, 247, 0.1);
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: right;
}
.formZone h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.main h1 {
    text-align: center;
    padding-bottom: 10px;
}
.main p.content{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
    color: rgba(26, 24, 24,1);
}
header{
    text-align: center;
}
header img {
    height: 350px;
    width: 400px;
}

#pic1{
    height: 300px;
    width: 220px;
    border-radius: 25px 75px ;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
}
.secondm{
    padding-bottom: 20px;
}
.secondm h2 {
    text-align: center;
}
img.icons{
    height: 40px;
    width: 40px;
    margin-right: 15px;
}
.iconend {
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px){
    header img {
        height: 250px;
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    body{
        position: relative;
        background-image: url("../imgs/b.jpg");
        background-repeat:no-repeat;
        background-size:100% 100vh;
    }
}

@media screen and (max-width: 600px) {

    #pic1{
        height: 360px;
        width: 320px;
        padding-right: 30px;
    }
}
